h1
{
  color: blue;
}
.heading
{
  color: teal;
}
body
{
  background-color: grey;
}
button
{
  padding: 30px;
  margin: auto;
  background-color: blueviolet;
}
div
{
  height: 100px;
  width: 100px;
  background-color: dodgerblue;
  color: white;
  border: 3px solid black;

}